
<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="<%= page['keywords'] %>">
  <meta name="description" content="<%= page['description'] %>">
  <title><%= page['title'] %></title>

  <link rel="alternate" hreflang="ja" href="<%= page['canonical'] %>">
  <link rel="canonical" href="<%= page['canonical'] %>">

  <% if (page['bodyclass'] === 'thanks') { %>
  <meta name="robots" content="noindex,nofollow">
  <% } else { %>

    <!-- ogp -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= page['canonical'] %>">
    <meta property="og:description" content="<%= page['description'] %>">
    <meta property="og:image" content="">
    <meta property="og:title" content="<%= page['title'] %>">
    <meta property="og:site_name" content="">
    <!-- /ogp -->


  <% } %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

</head>
<body class="<%= page['bodyclass'] %>">
  <div class="l-wrapper">

    <header id="header" class="l-header">

      <div class="header-top">
        <h1 class="header-logo">
          <a href="/"><img src="/images/common/logo.png" alt="エムワン精工"></a>
        </h1>
        <div class="g-nav-block">
        <nav id="js-menu" class="globalnavi">
           <ul class="gnavi-list">
             <li> <a class="nav-top" href="/"><p>TOP</p></a></li>
             <li> <a class="nav-products" href="/products/"><p>製品情報</p></a></li>
             <li><a class="nav-overview" href="/company_info/"><p>会社概要</p></a></li>
             <li><a class="nav-contact" href="/craftsmanship/"><p>エムワンのものづくり</p></a></li>
             <li><a class="nav-estimate" href="/recruit/"><p>採用情報</p></a></li>
             <li><a class="nav-faq" href="/contact/"><p><i class="fas fa-envelope"></i>お問い合わせ</p></a></li>
          </ul>
        </nav>
        </div>

        <div id="js-menuToggle" class="gnav-btn">
          <div class="gnav-btn__container">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>


      </div>

    </header>
